@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto&display=swap');

body {
  border-bottom: 15px solid green;
}
.header {
  background-color: aquamarine;
}

.container {
  background-color: purple;
}

.discount__container {
  background-color: greenyellow;
}
